* {

    margin: 0px;
    padding: 0px;
    
    

}

body {

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: url(imagens/fundo.png) repeat-x;
}


.container {
    width: 750px;
    
    margin: auto;
}

#topo {
    height: 150px;
    padding-top: 20px;
    background: url(imagens/detalhe-topo.png) repeat-y top right ;
    
}

ul li {
    margin: 0px;
    padding: 0px;
    list-style: none;
    
}

.navegacao li {
    
    margin-top: 40px;
}

.navegacao li a {
    float: left;
    text-decoration: none;
    padding: 10px 21px;
    
    
}

.navegacao li a {
    color: white;
    
    display: block;
    font-size: 0.9em;
    background: #b10333 url(imagens/divisor.png)  repeat-y left top;
}

#home {
    background: #b10333; 
}

.navegacao li a:hover {
    color: #69001d;
}

.home .navegacao a#home,
.brasil .navegacao a#brasil,
.int .navegacao a#int, 
.eco .navegacao a#eco,
.saude .navegacao a#saude,
.ciencia .navegacao a#ciencia,
.fotos .navegacao a#fotos{
    background: 
    #de003e;
}                               /* fim do topo */
                                /* fim do topo */




/* Estilização Do Conteúdo   */


.conteudo {
    
    margin-top: 65px;

    



} 


.primario {
    float: left;
    width: 270px;
    margin: 0 0 20px 195px;
}

.secundario {
    float: left;
    width: 270px;
    margin-left: 15px;

}

.lateral {
    float: left;
    width: 180px;
    margin: 0 -750px 20px;
}




h2 {

    font-size: 1em;
    background-color:#294c71;
    color: #fff;
    padding: 5px;
    

    
}

.caixa {
    background: url(imagens/fundo-caixa.png);
    margin: 10px 0;
    padding: 5px;
}



.caixa-conteudo {

    background: white;
    padding: 5px;
    margin-top: 5px;

}

.lateral ul li a{
    text-decoration: none;
    color: black;
    line-height: 2em;
    display: block;
    border-bottom: 1px solid #a1a1a1;
}

.lateral ul li a:hover {
    
    color: #a1a1a1;
    
    padding-left: 20px;
    background: url(imagens/marcador.png) no-repeat left center;
}

label {
    cursor: pointer;
    margin-top: 10px;
}

#email {
    margin: 10px 0;
    
}

#botao {
    
    border: 2px solid #870529;
    background: #b10333;
    margin-left: 20px;
    width: 120px;
    font-size: 1.1em;
    padding: 2px;
    font-weight: bold;
}

h3 {
    background: #b10333;
    color: whitesmoke;
    text-transform: uppercase;
    font-weight: bolder;
    display: inline;
    font-size: 0.9em;
}

.secundario h3 {
    background: #b10333;
    color: rgb(39, 39, 39);
    text-transform: uppercase;
    font-weight: 900;
    display: inline;
    font-size: 0.8;
    padding: 1px;
}


.primario img {
    border: 3px solid rgb(202, 202, 202);
    width: 99%;
    
    

    
    
}

.secundario img {
    border: 3px solid rgb(202, 202, 202);
    width: 99%;

}




















